body {
    
    display: flex;
   justify-content: center;
    background-color: #fbeeac;
    text-align: center;
}



h1 {
    font-size: 3rem;
    background-color: #f4d160;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 1rem;
    font-family: 'Handlee',
        cursive;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;

}


.note-area {
    min-height: 38rem;
    max-height: 100rem;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    background-color: #f8f5f1;
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-size: cover;
    word-wrap: break-word;
    width: 40rem;
    text-align: center;
    margin: 2rem 10rem auto 10rem;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-input {
    border: none;
    border-bottom: dotted;
    font-size: 1.8rem;
    background: transparent;
    outline: none;
    font-family: 'Handlee',
        cursive;

}

.form1 {
    display: inline-block;
}

.add-btn {
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 20%;
    border: none;
    background-color: #ffd880;
}

.drop-down {
    font-size: 1rem;
    display: inline-block;
    font-family: 'Handlee',
        cursive;
    font-weight: bold;
    margin-left: 2rem;
}

.completed {
    text-decoration: line-through;
}

.list{
    padding-left: 0;
}

.list-item {
    font-size: 1.5rem;
    font-family: 'Handlee',
        cursive;
    font-weight: bold;
    background-color: #ffd384;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
   
}

.list-item1 {
    
    width: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 80% auto;
    width: 100%;
}

.note{
   display: flex;
   align-items: center;
   justify-content: left;
   word-wrap: break-word;
   text-align: left;
}

.check-btn {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    background-color: #ff8e6e;
    border: none;
    border-radius: 20%;
    
}

.trash-btn {
    height: 2rem;
    width: 2rem;
    right: 4rem;
    background-color: #ff8e6e;
    border: none;
    border-radius: 20%;
   
}


.footer {
    font-family: 'Handlee',
        cursive;
}


@media (max-width: 600px)
{
  

   body {

       margin: 1rem 5rem auto 5rem;
   }

    

    h1{
        font-size: 1.8rem;
         margin-right: 6rem;
         margin-left: 6rem;
         margin-top: 1rem;
    }

    .note-area{
        width: 25rem;
        padding: 1rem;
    }

    .add-btn {
       
        height: 1rem;
        width: 1rem;
        font-size: 0.6rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
        
    }

    .add-input {
       
        font-size: 1.2rem;
    }

    .drop-down {
        font-size: 0.8rem;
    }

    .check-btn {
        margin: 0.5rem;
        background-color: #ff8e6e;
        border: none;
        border-radius: 20%;
         height: 1rem;
         width: 1rem;
         font-size: 0.6rem;
         display: inline-flex;
         justify-content: center;
         align-items: center;

    }

    .trash-btn {
         background-color: #ff8e6e;
         border: none;
         border-radius: 20%;
         height: 1rem;
         width: 1rem;
         font-size: 0.6rem;
         display: inline-flex;
         justify-content: center;
         align-items: center;

    }

    .list-item {
        font-size: 1rem;
    }

    .list {
        padding-left: 0;
    }


}